:root {
    --prana-color: #443C36;
    --prana-verde: #8DA616;
    --prama-gris: #6C6D62;
    --prama-cafe-1: #E6DACF;
}

.justify-pa {
    justify-content: space-evenly;
    align-items: center;
}

.navigation-prana {
    background: rgba(69, 57, 50, 0.85);
    backdrop-filter: blur(2px);
    /*    height: 82px;*/
    align-items: baseline;
}

.banner-hero-image {
    background-image: url('../sourse/header-prana.jpg');
    height: 90vh;
    background-size: cover;
    background-position: center center;
}

.icon-amenidades:hover {
    background-color: var(--prana-color);
    color: white;
    border-radius: 16px;
}

.btn-prana {
    background-color: var(--prana-verde);
}

.btn-prana:hover {
    background-color: var(--prama-gris);
    color: white;
}

.title-secction {
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: bold;
    padding: 80px 0;
    color: var(--prana-color);
}

.title-copy {
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
}

.circle {
    border-radius: 100%;
    text-align: center;
    padding: 32px;
    margin: 32px auto;
    width: 300px;
    height: 300px;
}

.circle-1 {
    background-color: #E6DACF;
}

.circle-2 {
    background-color: var(--prana-color);
    color: white;
}

.section-banner-image {
    background-image: url('../sourse/banner-fondo-prana.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.section-banner-loby {
    background-image: url('../sourse/loby-prana-merida.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.section-banner-mapa {
    background-image: url('../sourse/fondo-mapa.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.section-modelos {
    background-color: var(--prama-cafe-1);
    padding: 0 0 5rem 0;
}

.section-copy-mapa {
    background-color: white;
}

.section-cotizador {
    background-image: url('../sourse/background-cotizador.jpg');
    height: 90vh;
    background-size: cover;
    background-position: center;
}

.section-luvora {
    background-color: black;
    height: 100vh;
}

.section-contacto {}



.info-luvora {
    padding: 0 15rem;
}

.fondo-nivel-1 {
    background-image: url('../sourse/niveles/Nivel-1-min-400.png');
    width: 54vw;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.footer {
    background-image: url('../sourse/background-footer.jpg');
    width: 70vw;
    background-size: cover;
    background-position: center;
}

.space-logo-footer {
    padding-top: 10rem;
}

.mapa-space {
    width: 80vw;
    justify-content: space-evenly;
    align-items: center;

}

.section-rooftop {
    background-color: var(--prama-cafe-1);
    padding: 0 0 10rem 0;
}

.icons-amenidades {
    padding: 0 5rem;
}

.btn-niveles {
    padding-top: 6.2rem;
}

.items {
    /*    padding:0 15rem 0 15rem;*/
    margin: auto;
}

.button-cotizador-nivel {
    padding: 2.2rem;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    width: min(600px, calc(100vw - 5px), 92vw);
    height: 110px;
    background-color: rgb(255 255 255 / 70%);
    border: 2px inset var(--prana-verde);
}

.button-cotizador-nivel:hover {
    background-color: rgb(141 166 22 / 55%);
    color: white;
}

.header-banner {
    font-weight: 700;
    font-size: calc(3rem + 1vw);
    justify-content: center;
    line-height: 85px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.header-nivel {
    font-size: 2rem;
}

.lista-room li {
    font-size: 1.25rem;
}

.btn-close {
    border-radius: 100%;
    border: 3px solid var(--prana-verde);
    padding: 15px;
}

.info-precios {
    background: #e3e3e3;
    border-left: 1px solid #8ba415;
    border-right: 1px solid #8ba415;
    border-bottom: 1px solid #8ba415;
}

/*Estilos de galeria*/

a.nav-link:active {
    border: 2px solid #443c36;
}

.contenido {
    display: none;
}

.btn-piso-modal {
    background-color: transparent;
    padding: 110px;
    width: 100%;
}


.color-a {
    background-color: rgb(76 135 139 / 30%);
    height: 200px;
    padding: 8rem;
}

.color-v {
    background-color: rgb(96 119 86 /30%);
    ;
}

.color-a:hover {
    background-color: rgb(76 135 139 / 70%);
}

.color-v:hover {
    background-color: rgb(96 119 86 /70%);
}

.vista-contenedor-nivel-1 {
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-image: url('../sourse/niveles/Nivel-1-min-900.png');
}

#navbar {
    --navbar-height: 82px;
    position: fixed;
    height: var(--navbar-height);
    background-color: background: rgba(69, 57, 50, 0.85);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navbar-item {
    margin: 0.4em;
    width: 100%;
}

.home-link,
.navbar-link {
    color: var(--navbar-text-color);
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
}

.home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
}

.boton {
    display: block;
    margin-bottom: 10px;
}

.informacion {
    display: none;
}

.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
}

.navbar-logo {
    background-color: var(--navbar-text-color-focus);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
}

#navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: white;
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color-focus);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
    transform: rotate(-45deg);
}

#navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
}

#navbar-toggle[aria-expanded="true"]+#navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
}

.navbar-links {
    list-style: none;
    position: absolute;
    /*    background-color: var(--prama-cafe-1);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"]+#navbar-menu .navbar-links {
    padding: 1em;
}

@media screen and (min-width: 700px) {

    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
        display: none;
    }

    #navbar-menu,
    #navbar-toggle[aria-expanded="true"] #navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    .navbar-links,
    #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
}


@media (max-width: 320px) {
    .header-banner {
        font-size: 3rem;
    }

}